
<app-header></app-header>

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 600px;">
                
                <div class="card-header">
                    <h5>{{empObj.name}}</h5>
                </div>

                <div class="card-body">
                    <h6>{{empObj.mobileNo}}</h6>
                    <h6>{{empObj.emailId}}</h6>
                    <h6>{{empObj.country.c_name}}</h6>
                </div>

                <div class="card-footer">
                   <!-- <button routerLink="home" class="btn">Home</button> -->
                </div>
            </div>

        </div>
    </div>
</div>
