<div id="bg">

    <div class="form-container">
        <h3>Add Employee</h3>




        <div id="box">
            <div class="form-group">
                <label for="name">Name</label>
                <input [(ngModel)]="addData.name" type="text" placeholder="Name">
            </div>

            <div class="form-group">
                <label for="mobileno">Mobile No</label>
                <input [(ngModel)]="addData.mobileNo" type="text" placeholder="Mobile No">

            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input [(ngModel)]="addData.emailId" type="text" placeholder="Email">
            </div>

            <div class="form-group">
                <label for="status">Status</label>
                <input [(ngModel)]="addData.status" type="text" placeholder="Status">
            </div>

            <div class="form-group">
                <label for="department">Department</label>
                <input [(ngModel)]="addData.department" type="text" placeholder="Department">
            </div>

            <div class="form-group">
                <label for="counrty">Country</label>
                <select [(ngModel)]="addData.country">
                    <option [ngValue]="items" *ngFor="let items of allCountry">{{items.c_name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="salary">Salary</label>
                <input [(ngModel)]="addData.salary" type="text" placeholder="Salary">
            </div>
            <div class="form-action">
                <button (click)="onSubmit()">Add</button>
            </div>

        </div>

    </div>

</div>